.container {
  margin-top: 40vh;
  margin-left: 13vh;
  position: fixed;
}

.city p {
  text-align: left;
  font-size: 3rem;
  padding-left: 1.9rem;
  font-weight: 900;
}

.temp h1 {
  text-align: left;
  font-size: 6.6rem;
  padding-left: 1.9rem;
  display: flex;
  flex-direction: row;
}

.temp h1 p {
  text-align: left;
  font-size: 2.2rem;
  padding-left: 0.3rem;
  padding-top: 1.25rem;
}

.desc p {
  font-size: 2rem;
  text-align: left;
  padding-left: 1.9rem;
}

.weather_icon {
  height: 4.5rem;
  width: 4.5rem;
  padding-top: 0.8rem;
  transition: transform 0.1s;
}

.weather_icon:hover {
  transform: scale(1.1);
}

.additional-info {
  margin: 0 10vh 0 3vh;
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.sunrise p,
.sunset p,
.time p {
  font-size: 1.3rem;
  padding-left: 11px;
  padding-right: 0;
}

.sunrise {
  display: flex;
}

.sunset {
  display: flex;
}

.sunIcon {
  position: relative;
  width: 42px;
  margin-left: 8px;
  bottom: 8px;
}

.sunIcon:hover {
  transform: scale(1.1);
}
