.daily-forecast {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0.3rem 2rem 2rem 2rem;
  width: 450px;
  height: 300px;
  border-radius: 25px;
  margin-bottom: 5vh;
  margin-right: 13vh;
  background: rgba(0, 0, 0, 0.2);
}

.titleDaily {
  text-align: left;
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.dayFirst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding-top: 1.2vh;
  font-size: 1.2rem;
  padding-right: 10px;
}

.iconDaily {
  padding-top: 0.8vh;
  height: 32px;
  width: 32px;
  transition: transform 0.1s;
}

.iconDaily:hover {
  transform: scale(1.1);
}

.min-max {
  height: 20px;
  width: 50px;
}
