.hourly-forecast {
  position: fixed;
  right: 0;
  padding: 0.3rem 2rem 3.5rem 2rem;
  padding-top: 3vh;
  width: 28.1rem;
  height: 9.4rem;
  border-radius: 25px;
  margin: 5vh 13vh 0 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.titleHour {
  text-align: left;
  padding: 1.2vh 0;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 1.2vh 0.6rem 1.2rem 0;
  font-size: 1.2rem;
}

.temperature {
  padding-right: 0.6rem;
}

.temperature span {
  position: absolute;
  font-size: 0.7rem;
  padding-top: 3px;
}

.iconHourly {
  padding: 0.7vh 0 0.7vh 0;
  transition: transform 0.1s;
  width: 2.5rem;
}

.iconHourly:hover {
  transform: scale(1.1);
}

.precipitation {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  padding-top: 0.16rem;
}

.waterDrop {
  height: 0.9rem;
  width: 0.9rem;
  padding-top: 0.12rem;
}
