.hourly-forecast {
  position: fixed;
  right: 0;
  padding: 0.3rem 2rem 3.5rem 2rem;
  padding-top: 3vh;
  width: 28.1rem;
  height: 9.4rem;
  border-radius: 25px;
  margin: 4vh 13vh 3vh 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 1224px) {
    width: 24rem;
    margin: 6vh 6vh 3vh 0;
  }

  @media screen and (max-width: 967px) {
    width: 18rem;
    margin: 5vh 3.5vh 0 0;
  }

  @media screen and (max-width: 786px) {
    margin: 2vh auto 0;
    padding-bottom: 2.5rem;
    position: relative;
  }
}

.titleHour {
  text-align: left;
  padding: 1.2vh 0;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 1.2vh 0.6rem 1.2rem 0;
  font-size: 1.2rem;

  @media screen and (max-width: 1224px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 967px) {
    font-size: 0.8rem;
  }
}

.temperature {
  padding-right: 0.6rem;

  span {
    position: absolute;
    font-size: 0.7rem;
    padding-top: 3px;

    @media screen and (max-width: 1224px) {
      padding-top: 1.3px;
    }

    @media screen and (max-width: 967px) {
      padding-top: 0.8px;
    }
  }
}

.iconHourly {
  padding: 0.7vh 0 0.7vh 0;
  transition: transform 0.1s;
  width: 2.5rem;
  height: 2.5rem;

  &:hover {
    transform: scale(1.1);
  }
}

.precipitation {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  padding-top: 0.16rem;

  @media screen and (max-width: 967px) {
    font-size: 0.8rem;
  }
}

.waterDrop {
  height: 0.9rem;
  width: 0.9rem;
  padding-top: 0.12rem;

  @media screen and (max-width: 967px) {
    height: 0.8rem;
    width: 0.8rem;
  }
}
