.inp-field {
  text-align: center;
  padding: 0.7rem;

  @media screen and (max-width: 786px) {
    padding: 0.5rem;
    text-decoration: none;
  }

  .input-container {
    position: relative;
    display: inline-block;
  }
  
  .input-container input {
    padding-right: 30px; /* Adjust based on icon size */
  }
  
  .searchBtn {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-35%);
    pointer-events: none;
    height: 23px;
    width: 23px;
    opacity: 0.45;

    @media screen and (max-width: 786px) {
      height: 20px;
      width: 20px;
  }
}

  input {
    padding: 0.7rem 1.5rem;
    font-size: 1.13rem;
    border-radius: 15px;
    border: 1px solid rgb(128, 128, 128);
    background: rgb(0, 0, 0);
    opacity: 0.45;
    color: #8f8f8f;
    margin-top: 0.3rem;
    text-transform: capitalize;

    @media screen and (max-width: 786px) {
      font-size: 0.9rem;
    }
  }
}

.info-icon {
  width: 19px;
  height: 19px;
  cursor: pointer;
  padding: 0.8rem 0 0 0.25rem;
  transition: transform 0.1s;
  position: relative; 
  top: -6px;

  @media screen and (max-width: 786px) {
    width: 17px;
    height: 17px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.suggestion-container{
  display: flex;
  justify-content: center;
  align-items: center;
}  

.suggestions {
  position: absolute;
  top: 8%;
  z-index: 100;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(128, 128, 128);
  background: rgb(0, 0, 0);
  opacity: 0.8;
  max-height: 200px;
  overflow-y: auto;
  width: 50%;

  @media screen and (max-width: 786px) {
    width: 100%;
  }
}

.suggestions li {
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color:  rgb(128, 128, 128);
  }

}

.suggestions li.active {
  background-color: rgb(128, 128, 128);}