.inp-field {
  text-align: center;
  padding: 1rem;
}

.inp-field input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: 1px solid rgb(128, 128, 128);
  background: rgb(0, 0, 0);
  opacity: 0.45;
  color: #8f8f8f;
  margin-top: 0.3rem;
  text-transform: capitalize;
}

.searchBtn {
  width: 25px;
  cursor: pointer;
  padding: 0.8rem 0 0 0.19rem;
  transition: transform 0.1s;
  position: fixed;
}

.searchBtn:hover {
  transform: scale(1.1);
}
